[*.cs]

# Indicate this is the root configuration file for the solution
root = true




# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none



# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.OrderingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = none



# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none
