[*.cs]

# Indicate this is the root configuration file for the solution
root = true



# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = none
